# -------------------------------
# Unity 기본 빌드/캐시 폴더
# -------------------------------
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

# Visual Studio / Jetbrains 등 IDE 설정
.vs/
.vscode/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crashlytics
crashlytics-build.properties

# Exported obj/consulo
ExportedObj/
.consulo/

# Android 빌드 파일
*.apk
*.aab

# Unity 패키지
*.unitypackage

# Unity 충돌 로그
sysinfo.txt

# Addressable 빌드 파일
/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
/[Aa]ssets/[Ss]treamingAssets/aa.meta
/[Aa]ssets/[Ss]treamingAssets/aa/*

# -------------------------------
# 리소스 및 아트에셋 제외 (.vrm, .fbx 등)
/.history
*.meta
*.rsp

# 일반 리소스 파일 (에셋, 모델, 텍스처, 사운드)
*.prefab
*.mat
*.anim
*.controller
*.unity
*.fbx
*.blend
*.obj
*.dae
*.psd
*.png
*.jpg
*.jpeg
*.tga
*.wav
*.mp3
*.ogg
*.vrm

# -------------------------------
# 저작권 있는 외부 리소스 폴더
/Assets/AnimeGirlIdleAnimations_free
/Assets/Kevin Iglesias
/Assets/liltoon
/Assets/Live2D
/Assets/MoCapCentral
/Assets/VRM10
/Assets/Resources/Model
/Assets/Resources/Motions
/Assets/Cubism*
/Assets/Plugins